VITE_APP_TITLE=Undefined VideoPages
VITE_OG_SITE_NAME=My Site
VITE_OG_TITLE=[dev]
VITE_OG_DESCRIPTION=Development build
VITE_OG_URL=http://localhost:60499/
VITE_OG_IMAGE=http://localhost:60499/favicon.svg
VITE_KEYWORDS=dev, placeholder
